__pycache__/
*.pyc
*.db
*.joblib
.env

# Ignore all CSV datasets in the data folder and subfolders
**/app/ml/data/**/*.csv
**/app/ml/data/

# Ignore model binaries
**/app/ml/models/*.joblib
# Remove or comment out *.joblib if it's there:
# *.joblib